@model IEnumerable<mvc.Models.Schedule>

@{
    ViewData["Title"] = "Schedule";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/schedule.css">

</head>

<body>

    <section class="schedule">
        <div class="nextMatches">
            <h1>Urmatoarele meciuri</h1>
            @foreach (var schedules in Model)
            {
                @if (schedules.matchDate > DateTime.Now)
			    {
					<h2>@schedules.homeTeam - @schedules.awayTeam</h2>
                    <p>Stadion: @schedules.stadium</p>
					<p>Data: @schedules.matchDate.ToString("dd MMM yyyy")</p>
					<p>Ora: @schedules.matchDate.ToString("HH:mm")</p>
                }
		    }
        </div>
        <div class="pastMatches">
            <h1> Meciuri jucate</h1>
            @foreach (var schedules in Model)
            {
                @if (schedules.matchDate < DateTime.Now)
                {
					<h2>@schedules.homeTeam - @schedules.awayTeam</h2>
                    <p>Stadion: @schedules.stadium</p>
                    <p>Data: @schedules.matchDate.ToString("dd MMM yyyy")</p>
                    <p>Ora: @schedules.matchDate.ToString("HH:mm")</p>
					<p>Rezultat: @schedules.result</p>
                }
            }
        </div>
    </section>

    <script src="../js/footer.js"></script>

</body>
</html>