@model mvc.Models.Subscription

@{
	ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Are you sure you want to delete this entry?</h1>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.type)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.expireDate)
		</th>
	</tr>
	<tr>
		<td>
			@Html.DisplayFor(model => model.id)
		</td>
		<td>
			@Html.DisplayFor(model => model.type)
		</td>
		<td>
			@Html.DisplayFor(model => model.expireDate)
		</td>
	</tr>
</table>

<div class="centerDiv">
	<form asp-action="Delete">
		<input type="hidden" asp-for="id" />
		<input type="submit" value="Delete" class="btn" /> |
		<a asp-action="Index" class="btn">Back to List</a>
	</form>
</div>
