@model IEnumerable<mvc.Models.Users>

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Users</h1>

<p class="centerDiv">
    <a asp-action="Create" class="btn">Create New</a>
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subscriptionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photoPath)
        </th>
		<th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subscriptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.photoPath))
                {
                    <a href="@item.photoPath" target="_blank">@Html.DisplayFor(modelItem => item.photoPath)</a>
                }
                @if (string.IsNullOrEmpty(item.photoPath))
                {
                    <span>No document uploaded</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
            </td>
        </tr>
    }

</table>
