@model mvc.Models.Users

@{
    ViewData["Title"] = "User";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/user.css">

</head>

<body class="userBody">


    <section class="userInfo">
        <h1>Bine ai venit, <span id="username">@Model.UserName</span> </h1>
        <h2>Tip cont: <span id="accountType">@Model.accountType</span></h2>
        @if (Model.subscriptionId != 0)
        {
            <h2>Tipul abonamentului: <span id="subscriptionType">@Model.subscription?.type</span></h2>
            <h2>Valabilitate: <span id="validity">@Model.subscription?.expireDate.ToString("dd-MM-yyyy")</span></h2>
        }
        <a asp-action="Settings" asp-route-id="@Model.Id" class="loginButton">Setari cont</a>

        @if (Model.accountType == "Admin")
        {
            <a asp-controller="Users" asp-action = "Index" class="loginButton">Users Controller</a>
            <a asp-controller="Subscription" asp-action="Index" class="loginButton">Subscription Controller</a>
            <a asp-controller="Contact" asp-action="Index" class="loginButton">Contact Controller</a>
            <a asp-controller="News" asp-action="Index" class="loginButton">News Controller</a>
            <a asp-controller="Player" asp-action="Index" class="loginButton">Player Controller</a>
            <a asp-controller="Schedule" asp-action="Index" class="loginButton">Schedule Controller</a>
            <a asp-controller="Sponsor" asp-action="Index" class="loginButton">Sponsor Controller</a>
        }
    </section>

</body>
</html>