@model IEnumerable<mvc.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Universitatea Craiova</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/images/logo.ico">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/players.css">

</head>

<body>

    <section class="players">
        <h1>Portari</h1>
        <ul class="gk">
            @foreach(var player in Model.OrderBy(n => n.number))
            {
                if(player.position == "Portar")
                {
                    <li>
                        <img src="@Url.Content(player.photo)" alt="@player.number" />
                        <p>@player.number. @player.name</p>
                    </li>
                }
            }      
        </ul>

        <h1>Fundasi</h1>
        <ul class="def">
            @foreach (var player in Model.OrderBy(n => n.number))
            {
                if (player.position == "Fundas")
                {
                    <li>
                        <img src="@Url.Content(player.photo)" alt="@player.number" />
                        <p>@player.number. @player.name</p>
                    </li>
                }
            }
        </ul>

        <h1>Mijlocasi</h1>
        <ul class="mid">
            @foreach (var player in Model.OrderBy(n => n.number))
            {
                if (player.position == "Mijlocas")
                {
                    <li>
                        <img src="@Url.Content(player.photo)" alt="@player.number" />
                        <p>@player.number. @player.name</p>
                    </li>
                }
            }
        </ul>

        <h1>Atacanti</h1>
        <ul class="att">
            @foreach (var player in Model.OrderBy(n => n.number))
            {
                if (player.position == "Atacant")
                {
                    <li>
                        <img src="@Url.Content(player.photo)" alt="@player.number" />
                        <p>@player.number. @player.name</p>
                    </li>
                }
            }
        </ul>

        <h1>Staff</h1>
        <ul class="staff">
            @foreach (var player in Model.OrderBy(n => n.name))
            {
                if (player.position == "Staff")
                {
                    <li>
                        <img src="@Url.Content(player.photo)" alt="@player.number" />
                        <p>@player.name</p>
                    </li>
                }
            }
        </ul>
    </section>

    <script src="../js/footer.js"></script>
</body>
</html>